body,p,b,dl,dd,table,td,th,input,img,form,div,ul,li{
margin:0;
padding:0;
}
img,iframe{
border:none;
}
ol,ul,li{
list-style:none;
}
img,input,label{
vertical-align:middle;
}
table{
border-collapse:collapse;
border-spacing:0;
}

a:link,a:visited{
text-decoration:none;color:#000;
}
a:hover{
text-decoration:none;color:#000;
}

.clear:after{
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

.selected{
background-color:#D2E5FA;
}

.cutting{
opacity:0.3;
}

.disabled{
opacity:0.3;
cursor:default!important;
}
